*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button{
    border: none;
    background-color: transparent;
}
.nav-logo{
    height: 50px;
    width: 200px;
}
.logo{
    background-image: url("logo/transparent.png");
    height: 50px;
    background-size: cover;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 620px;
    height: 40px;
    border-radius: 6px;
    background-color: pink;
}
.search-select{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: none;
    background-color: antiquewhite;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #3298a8;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
span{
    font-size: 1rem;
    text-transform: capitalize;
}
.nav-second{
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: capitalize;
}
.nav-search:hover{
    border: 2px solid #3298a8;
}
.nav-settings i{
font-size: 32px;
}
.nav-settings{
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
}
.panel{
    height: 39px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 20px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
    text-transform: capitalize;
}
.hero-section{
    background-image:url("3.jpg") ;
    height: 700px;
    background-size: cover;
}
.places-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 450px; 
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    height: 390px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left:10px ;
    margin-right: 10px;
}
.box-content p{
    color:#007185;
}
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color:#37475a; 
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color:#222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height:70px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("logo/transparent.png");
    height: 50px;
    background-size: cover;
    width: 200px;
}
.last{
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    background-color: black;
    color: white;
}
